.container-input{
    background-color: white;
    height: 37px;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .form-input{
    height: 35px;
  }
  .input-url{
    padding: 0;
    height: 30px;
    width: 79%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    color: #1ed26e;
    font-family: 'Source Sans Pro', 'Source Code Pro';
  
  }
  .submit-input{
  padding: 0;
    height: 35px;
    width: 19%;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 100%;
  }