.container-results{
    background-color: white;
    width: 39%;
  }
  .informacoes{
    height: 30%;
    width: 100%;
  }
  .informacoes-encontradas{
    color: #9b9b9b;
    font-size: small;
    text-align: justify;
  }
  .telefones{
    padding: 0;
    text-align: center;
    width: 79%;
  }
  
  
  
  
  