.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #595959;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9b9b9b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-input{
  background-color: white;
  height: 37px;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 10px;
}
.form-input{
  height: 35px;
}
.input-url{
  padding: 0;
  height: 30px;
  width: 79%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: #1ed26e;
  font-family: 'Source Sans Pro', 'Source Code Pro';

}
.submit-input{
padding: 0;
  height: 35px;
  width: 19%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  line-height: 100%;
}

.container-results{
  background-color: white;
  width: 39%;
}
.informacoes{
  height: 30%;
  width: 100%;
}
.informacoes-encontradas{
  color: #9b9b9b;
  font-size: small;
  text-align: justify;
}
.telefones{
  padding: 0;
  text-align: center;
  width: 79%;
}



